.box1
{
    font-size: 15px;
}

.card1
{
    float: left;
    border: 40px solid white;
}

.card2
{
    float: left;
    border: 40px solid white;
}

.card3
{
    border: 40px solid white;
    
    
}

.ContainerBody
{
    border: 3px 
   
}